
.App {
	
  text-align: left;
}

body {

  background: #dcdcdc;
  margin-top: 20px;
}
.card-box {
  padding: 40px;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: rgba(250,250,250,0.10);
  background: rgba(250,250,250,0.3);
}

.thumb-lg {
	display:flex ;

  height: 200px;

}
.img-thumbnail {
	display:flex;
  padding: 0.28rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}
.text-pink {
  color: #ff679b !important;
}

.text-muted {
	margin-left: 30px;
  color: rgb(250,250,250);
}
h4 {
	margin-left: 30px;
  line-height: 2px;
  font-size: 18px;
}

